$maincolor: #4547ad;
$auxcolor: #ef906e;

.mn-clr {
  background-color: $maincolor;
}

.mn-clr-text {
  color: $maincolor !important;
}

.logo-size-big {
  font-size: 10rem;
}

.logo-size-medium {
  font-size: calc(3rem + 0.5vw);
}

html {
  font-size: 10px;
  font-family: 'Arimo', sans-serif;
}

/* Login styling */

.form-content {
  font-size: 1.4rem;
  flex-grow: 1;
  height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, rgba(78, 80, 184, 0.85) 35%, rgba(255, 0, 0, 0.45)), url(images/newbackground.jpg);
  background-size: contain stretch;
  background-repeat: no-repeat;
  background-position-x: right;
}

.logo-text {
  color: #fff;
  font-family: 'Patrick Hand SC', cursive;
}

.logo-text strong {
  color: $auxcolor;
}

.middle-focus {
  width: 90%;
}

.icon {
  top: 2.2rem;
  left: 1rem;
  font-size: 1.6rem;
  color: $maincolor;
  text-align: center;
}

input[type="password"],
input[type="text"] {
  text-align: left;
  padding: 1rem 1rem 1rem 3rem;
  width: 100%;
  border: 1px solid $maincolor;
  border-radius: 0.5rem;
}

#login {
  width: 80%;
  border: 1px solid $maincolor;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  align-self: center;
}

#login:hover,
#login:active {
  background-color: $maincolor;
  border-radius: 0.5rem;
}

#login:focus {
  box-shadow: 0 0 0 0.2rem rgba($maincolor, 0.5);
  border-radius: 0.5rem;
}

.bottom {
  margin: 20rem 0 0 0;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 0.5rem;
}

.register {
  font-weight: 700;
  color: $auxcolor;
}

@media screen and(min-width: 767px) {
  .middle-focus {
    max-width: 42rem;
  }

  .form-content {
    background-position: 40% 50%;
  }
}

/* End login styling */

/* Start index styling */

/* End index styling */

.navbar {
  min-width: 32rem;
  height: 5.2rem;
  flex-shrink: 0;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.nav-icon {
  font-size: 2rem;
  color: #2b333b;
  margin: 0 1rem;
}

.nav-logo {
  width: fit-content;
  top: 0;
  left: 0;
  right: 0;
}

.w-90 {
  width: 90%;
}

.round-images .rounded {
  width: 9vh;
  height: 10vh;
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.round-images .rounded:hover {
  transform: scale(1.25);
  transition: all 0.2s ease-out;
}

#first-profile:hover + #times-icon {
  transform: scale(1.25);
  transition: all 0.2s ease-out;
}

.secondary {
  flex-shrink: 1;
  flex-grow: 1;
  justify-self: end;
  width: fit-content;
}

#times-icon {
  border-radius: 2rem;
  width: fit-content;
  font-size: calc(3rem + 0.5vw);
  color: $auxcolor;
  top: 30%;
  right: 1rem;
  background: #fff;
}

.card-view img {
  z-index: 1;
  height: 60vh;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.location {
  z-index: 2;
  font-size: calc(1.2rem + 1vw);
  font-weight: 700;
  top: calc(8% + 0.1vw);
  left: 5%;
  color: #fff;
}
