.mn-clr {
  background-color: #4547ad;
}

.white-bg {
  background-color: #fff;
}

.mn-clr-text {
  color: #4547ad !important;
}

.logo-size-big {
  font-size: 10rem;
}

.logo-size-medium {
  font-size: calc(3rem + 0.5vw);
}

html {
  font-size: 10px;
  font-family: 'Arimo', sans-serif;
}

main {
  background-color: #fdfcfc;
}

/* Login styling */
.form-content {
  font-size: 1.4rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, rgba(78, 80, 184, 0.85) 35%, rgba(255, 0, 0, 0.45)), url(images/newbackground.jpg);
  background-size: contain stretch;
  background-repeat: no-repeat;
  background-position-x: right;
}

.logo-text {
  color: #fff;
  font-family: 'Patrick Hand SC', cursive;
}

.logo-text strong {
  color: #ef906e;
}

.middle-focus {
  width: 90%;
}

.icon {
  top: 2.2rem;
  left: 1rem;
  font-size: 1.6rem;
  color: #4547ad;
  text-align: center;
}

input[type="password"],
input[type="text"] {
  text-align: left;
  padding: 1rem 1rem 1rem 3rem;
  width: 100%;
  border: 1px solid #4547ad;
  border-radius: 0.5rem;
}

#login {
  width: 80%;
  border: 1px solid #4547ad;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  -ms-flex-item-align: center;
      align-self: center;
}

#login:hover,
#login:active {
  background-color: #4547ad;
  border-radius: 0.5rem;
}

#login:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(69, 71, 173, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(69, 71, 173, 0.5);
  border-radius: 0.5rem;
}

.bottom {
  margin: 20rem 0 0 0;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 0.5rem;
}

.register {
  font-weight: 700;
  color: #ef906e;
}

@media screen and (min-width: 767px) {
  .middle-focus {
    max-width: 42rem;
  }

  .form-content {
    background-position: 40% 50%;
  }
}
/* End login styling */
/* Start index styling */
.navbar {
  min-width: 32rem;
  height: 5.2rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.nav-icon {
  font-size: 2rem;
  color: #2b333b;
  margin: 0 1rem;
}

.nav-logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 0;
  left: 0;
  right: 0;
}

.w-90 {
  width: 90%;
}

.social-tab {
  -webkit-box-shadow: 10px #ccc;
          box-shadow: 10px #ccc;
}

.round-images .rounded {
  width: 8.5vh;
  height: 10vh;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1);
  -o-object-fit: cover;
     object-fit: cover;
}

.round-images .rounded:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#first-profile:hover + #times-icon {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  top: 3.3rem;
  right: -1rem;
}

#times-icon + #first-profile:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  top: 3.3rem;
  right: -1rem;
}

.secondary {
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#times-icon {
  border-radius: 6rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3rem;
  color: #ef906e;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1rem;
  background-color: #fff;
}

.card-view img {
  z-index: 1;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
  -webkit-box-shadow: 1px 2px 10px 5px #ccc;
          box-shadow: 1px 2px 10px 5px #ccc;
}

.location {
  z-index: 2;
  font-size: calc(1.2rem + 1vw);
  font-weight: 700;
  top: calc(8% + 0.1vw);
  left: 5%;
  color: #fff;
}

.bottom-card {
  width: 60%;
  max-width: 36rem;
  padding: 1rem;
  bottom: -2.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 0.8rem;
  -webkit-box-shadow: 1px 5px 10px 5px #ccc, 0 -5px 3px #4547ad;
          box-shadow: 1px 5px 10px 5px #ccc, 0 -5px 3px #4547ad;
}

.bottom-card p {
  font-size: calc(1.2rem + 0.8vw);
  font-weight: 700;
}

#online {
  color: #2ad260;
  font-size: 0.8rem;
  top: 40%;
  right: 5rem;
  right: 0.1rem;
}

.bottom-card span {
  font-size: calc(1rem + 0.8vw);
  color: #434769;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  bottom: 0;
}

.footer-bar {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  bottom: 0;
  height: 6rem;
}

.footer-bar i {
  font-size: calc(3rem + 0.5vh);
  color: #c8cfd7;
}

.social-container {
  top: 1.5rem;
}

.right-cont {
  right: 2.5rem;
}

.left-cont {
  left: 2.5rem;
}

.stroop-icon {
  top: calc(-2rem - 0.8vw);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #4547ad;
  padding: calc(0.5rem + 1vw);
  border-radius: 0.5rem;
  -webkit-box-shadow: 5px 5px 5px #ccc;
          box-shadow: 5px 5px 5px #ccc;
}

@media screen and (max-width: 1440px) {
  #last-picture {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .card-view img {
    height: 75vh;
  }
}
@media screen and (min-width: 768px) {
  .bottom-card {
    bottom: -5.5rem;
  }
}
@media screen and (max-height: 640px) {
  .card-view img {
    height: 55vh;
  }
}
@media screen and (min-width: 420px) {
  .social-container i {
    margin: 0 calc(1rem + 2.5vw);
  }
}
.user-status {
  background-color: #fff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 1px 2px 10px 5px #ccc;
          box-shadow: 1px 2px 10px 5px #ccc;
}

.user-picture {
  width: 9rem;
  height: 10rem;
  -webkit-box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}

.user-name {
  font-size: 2rem;
  font-weight: bold;
  color: #262730;
}

.subs-status {
  font-size: 1.6rem;
  color: #9294a9;
}

.user-name-and-sub strong {
  font-size: 1.6rem;
  color: #4547ad;
  font-weight: bold;
  text-transform: capitalize;
}

.fa-user-cog {
  color: #9294a9;
  font-size: 2rem;
  padding: 1rem;
  border: 1px solid #e7e8ec;
  border-radius: 0.5rem;
}

.fa-user-cog:hover {
  background-color: #d9dae1;
  border: 1px solid #9294a9;
  border-radius: 0.5rem;
}

.stnbt {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.stats-number {
  font-size: 1.6rem;
  font-weight: bold;
}

.fa-heart {
  color: #ef906e;
  font-size: 3.5rem;
}

.susbcribe-btn {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.4rem;
  font-weight: bold;
  border: 1px solid #4547ad;
  border-radius: 0.5rem;
}

.susbcribe-btn:hover,
.susbcribe-btn:active {
  background-color: #4547ad;
  border: 1px solid #4547ad;
}

.susbcribe-btn:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(69, 71, 173, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(69, 71, 173, 0.5);
}

.row-content i {
  font-size: 3rem;
  color: #8185ad;
}
.row-content span {
  color: #8185ad;
  font-size: 1.8rem;
}
.row-content span:hover,
.row-content i:hover {
  color: #1d1e2c;
}
.row-content .padded {
  color: #fff;
  background-color: #ef906e;
  border-radius: 0.5rem;
}

/* End index styling */

/*# sourceMappingURL=styles.css.map */